{
  "app": {
    "guid": "d36e49df-f67e-49b0-bb2d-4af272fd5952"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators"
  },
  "security": {
    "token": "ZDM2ZTQ5ZGYtZjY3ZS00OWIwLWJiMmQtNGFmMjcyZmQ1OTUy",
    "tokenExpiration": 3600
  },
  "auth": {
    "type": "internal",
    "autoSignUp": false
  },
  "fixedTimeZone": false,
  "timeZone": "UTC",
  "timeZoneOffset": 0
}